***************************************************************************
  AUTHORIZED ACCESS ONLY
  This host is managed by Ansible (fleet-monitoring-stack). Manual changes
  outside of Ansible may be overwritten on the next playbook run.
  Environment: {{ fleet_environment | default('n/a') }}
  Managed as of: {{ ansible_date_time.date }}
***************************************************************************
